*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus{
  outline: none;
}

.task-form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label{
  font-weight: bolder;
  text-transform: capitalize;
}

.task-form__title{
  padding: 5px 3px;
  border: 1px solid transparent;
  border-bottom: 1px solid #0005;
  line-height: 2;
  transition: all 1s;
  font-size: 14px;
}

.task-form__desc{
  height: 30vh;
  max-height: 300px;
  padding: 5px 3px;
  resize: vertical;
  border: 1px solid transparent;
  border-bottom: 1px solid #0005;
  line-height: 1.3;
  transition: all 1s;
}

.task-form__title:hover, .task-form__desc:hover{
  border-bottom: 1px solid #000;
} 

.task-form__title:focus, .task-form__desc:focus{
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 5px 5px 0 #0008;
}

.task-form__desc:focus{
  border-radius: 0;
}

.task-form__submit{
  padding: 10px 3px;
  border: 1px solid #000;
  background: transparent;
  width: 60%;
  align-self: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  color: #3b3b3b;
  transition: all .5s ease;
  cursor: pointer;
  margin-top: 10px;
}

.task-form__submit:hover{
  color: #fff;
  background: #000;
  box-shadow: rgba(0, 0, 0, 0.55) 0 8px 15px; 
}