* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: underline;
  color: #fff;
  letter-spacing: 2px;
}

.footer {
  display: flex;
  flex-direction: column;
  background: #000;
  color: #fff;
  text-align: center;
  position: relative;
}

.contact{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.contact-details, .contact-media{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  justify-content: space-evenly;
}

.contact__title{
  text-transform: capitalize;
}

.contact__text{
  font-size: 16px;
}

@media screen and (min-width: 480px){
  .contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}